body {
    font-family: sans-serif;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    background-image: url('https://media.giphy.com/media/4V3LiC4pWu7KM/giphy.gif');
}

#ball {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: #000;
    margin: 0 auto;
    cursor: pointer;
}

#ball p {
    position: relative;
    top: 40%;
}

footer {
    background: #000;
    position: fixed;
    bottom: 0;
    font-size: .4em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    font-style: italic;
}

@media ( max-width: 600px ) {

    #ball {
        height: 60vw;
        width: 60vw;
        margin-top: 30%;
    }

    #ball p {
        font-size: 1.5em;
    }

    footer {
        font-size: .7em;
        width: 100vw;
    }

}
